/* applied the following to start with an empty canvis */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: Arial, Helvetica, sans-serif;
}

/* added this back ground color as I want my whole page to be this color*/
body{
  background-color: black;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main h1 {
  border-right: 10px solid red;
 margin-right: 10px;
}
.name {
  background-color: rgb(184, 37, 37);
  color: black;
  padding: 25px;
  margin: 15px;
  border-radius: 7.5px;
}

/* added display settings to the child to match the parent */
.navbar {
  display: flex;
 flex-wrap: wrap;
  justify-content: space-between;

}

.navbar a {
margin-top: 85px;
margin-left: 15px;
text-decoration: none;
font-size: 24px;
color: red;
}

/* to add a little change when hovering over my navbar I changed the background colord */
.navbar a:hover {
  cursor: pointer;
  color:rgb(148, 33, 33);
  text-decoration: underline;
}

.banner {
  height: 100px;
  margin-top: 20px;
}

/* adjusted my pic to fit inside my banner with object fit */
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

#aboutme {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
 
  

}

h1 {
color: red;


}

/* added a little space so it wouldn't look like the picture and the h1 where together */
#aboutme div {
margin-left: 15px;

}

/* when adding these properties I wanted my picture to grow with the page or shrink */
#aboutme div .mypic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
 object-fit: cover;


  
}

p {
  color: red;
  font-size: 25px;
  margin-left: 15px;
  border: 4px solid rgb(148, 33, 33);
  text-align: center;
}

/* On here I haded some space to the top to seperate my section a little from the previous one, also added the transition to give my images a little 
move when hovering over them  */

#work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 35px;
  transition: background 0.5s, transform 0.5s ;
}



#work header {
font-weight: bolder;
color: red;

}



/* On projects I gave them a width and and height so my page wouldn't have the pictures big and take over most of the screen   */
.projects {
  width: 600px;
  border: 3px solid rgb(148, 33, 33);
  }




/* Here I wanted my images to fit into my div for this section  */
.projectimg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  
}

/* Added description class so on my porfolio you can see what each project I've worked on has a little more to go along with  */
.description {
  font-size: 14px;
  padding: 8px;
  background-color: rgb(227, 140, 140);
  color: rgb(97, 54, 54);
  position: absolute;
  margin-top: 20px;
  align-items: center;
 
  
 

}

/* wanted to have a little movement to my images when hovering over and a description of what each project is about*/
#work .projects:hover{
  background-color: rgb(161, 57, 57);
  transform: translateY(100px);
}


/* on here like the previous sections I added flex to have my contact flexiable as the site size might change! */
#contactme {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  height: 200px;
}

/* Here I wanted no text decoration so I took it off */
#contactme a {
  color: red;
  text-decoration: none;
  font-size: 20px;
;
  }

/* I didn't want all my p elements to have a border so I cancelled it out on this line  */
  #contactme p {
    border: none
  }


/* For this section I just assigned the text align center so my text would be center I wanted to give my footer a little height so it would be just at the bottom */
footer {
  text-align: center;
  height: 40px;
  color: red;
  font-size: 25px;
}




